streamlit
pandas
numpy
scikit-learn
scipy
matplotlib
pillow
requests
joblib
altair
pydeck
packaging
blinker
cachetools
certifi
click
colorama
gitpython
protobuf
tenacity
toml
watchdog
networkx
six
rapidfuzz
